################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CitiesAPI/DbContexts/CityInfoContext.cs
